.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(../Fonts/f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(../Fonts/f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(../Fonts/f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(../Fonts/f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{width:15.600000px;}
._a{width:19.356000px;}
._e{width:33.112000px;}
._0{width:40.528000px;}
._15{width:50.512000px;}
._1d{width:61.804000px;}
._1a{width:69.616000px;}
._21{width:71.156000px;}
._14{width:75.112000px;}
._9{width:77.808000px;}
._16{width:80.480000px;}
._f{width:83.188000px;}
._10{width:92.940000px;}
._c{width:105.476000px;}
._12{width:125.276000px;}
._18{width:139.636000px;}
._11{width:142.760000px;}
._17{width:156.400000px;}
._b{width:208.736000px;}
._3{width:236.144000px;}
._8{width:249.008000px;}
._1f{width:282.748000px;}
._1b{width:299.100000px;}
._2{width:332.592000px;}
._13{width:334.856000px;}
._5{width:339.696000px;}
._20{width:356.696000px;}
._1c{width:359.804000px;}
._1e{width:381.532000px;}
._1{width:418.120000px;}
._19{width:454.696000px;}
._22{width:509.156000px;}
._d{width:523.184000px;}
._7{width:590.632000px;}
._4{width:711.368000px;}
._23{width:1128.508000px;}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:28.000000px;}
.fs4{font-size:32.000000px;}
.fs1{font-size:40.000000px;}
.fs3{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.fs2{font-size:60.000000px;}
.y0{bottom:335.500000px;}
.y15{bottom:394.750000px;}
.y14{bottom:403.250000px;}
.y13{bottom:450.020000px;}
.y12{bottom:464.200000px;}
.y11{bottom:478.370000px;}
.y10{bottom:492.540000px;}
.yf{bottom:506.720000px;}
.ye{bottom:520.890000px;}
.yd{bottom:535.060000px;}
.yc{bottom:549.240000px;}
.yb{bottom:564.830000px;}
.ya{bottom:592.160000px;}
.y9{bottom:604.920000px;}
.y8{bottom:617.680000px;}
.y7{bottom:630.430000px;}
.y6{bottom:671.040000px;}
.y5{bottom:689.980000px;}
.y4{bottom:740.380000px;}
.y3{bottom:755.970000px;}
.y2{bottom:771.560000px;}
.y1{bottom:793.750000px;}
.y16{bottom:819.950000px;}
.h8{height:29.107422px;}
.h7{height:29.558594px;}
.h6{height:33.265625px;}
.h3{height:41.582031px;}
.h5{height:50.671875px;}
.h2{height:59.117188px;}
.h4{height:63.339844px;}
.h1{height:484.000000px;}
.h0{height:841.890000px;}
.w1{width:567.500000px;}
.w0{width:595.280000px;}
.x0{left:14.000000px;}
.x7{left:31.190000px;}
.x6{left:154.630000px;}
.x8{left:172.920000px;}
.x1{left:177.450000px;}
.x2{left:179.450000px;}
.x4{left:204.150000px;}
.x5{left:206.390000px;}
.x3{left:208.060000px;}
.x9{left:399.690000px;}
.xa{left:483.920000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{width:20.800000pt;}
._a{width:25.808000pt;}
._e{width:44.149333pt;}
._0{width:54.037333pt;}
._15{width:67.349333pt;}
._1d{width:82.405333pt;}
._1a{width:92.821333pt;}
._21{width:94.874667pt;}
._14{width:100.149333pt;}
._9{width:103.744000pt;}
._16{width:107.306667pt;}
._f{width:110.917333pt;}
._10{width:123.920000pt;}
._c{width:140.634667pt;}
._12{width:167.034667pt;}
._18{width:186.181333pt;}
._11{width:190.346667pt;}
._17{width:208.533333pt;}
._b{width:278.314667pt;}
._3{width:314.858667pt;}
._8{width:332.010667pt;}
._1f{width:376.997333pt;}
._1b{width:398.800000pt;}
._2{width:443.456000pt;}
._13{width:446.474667pt;}
._5{width:452.928000pt;}
._20{width:475.594667pt;}
._1c{width:479.738667pt;}
._1e{width:508.709333pt;}
._1{width:557.493333pt;}
._19{width:606.261333pt;}
._22{width:678.874667pt;}
._d{width:697.578667pt;}
._7{width:787.509333pt;}
._4{width:948.490667pt;}
._23{width:1504.677333pt;}
.fs5{font-size:37.333333pt;}
.fs4{font-size:42.666667pt;}
.fs1{font-size:53.333333pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.fs2{font-size:80.000000pt;}
.y0{bottom:447.333333pt;}
.y15{bottom:526.333333pt;}
.y14{bottom:537.666667pt;}
.y13{bottom:600.026667pt;}
.y12{bottom:618.933333pt;}
.y11{bottom:637.826667pt;}
.y10{bottom:656.720000pt;}
.yf{bottom:675.626667pt;}
.ye{bottom:694.520000pt;}
.yd{bottom:713.413333pt;}
.yc{bottom:732.320000pt;}
.yb{bottom:753.106667pt;}
.ya{bottom:789.546667pt;}
.y9{bottom:806.560000pt;}
.y8{bottom:823.573333pt;}
.y7{bottom:840.573333pt;}
.y6{bottom:894.720000pt;}
.y5{bottom:919.973333pt;}
.y4{bottom:987.173333pt;}
.y3{bottom:1007.960000pt;}
.y2{bottom:1028.746667pt;}
.y1{bottom:1058.333333pt;}
.y16{bottom:1093.266667pt;}
.h8{height:38.809896pt;}
.h7{height:39.411458pt;}
.h6{height:44.354167pt;}
.h3{height:55.442708pt;}
.h5{height:67.562500pt;}
.h2{height:78.822917pt;}
.h4{height:84.453125pt;}
.h1{height:645.333333pt;}
.h0{height:1122.520000pt;}
.w1{width:756.666667pt;}
.w0{width:793.706667pt;}
.x0{left:18.666667pt;}
.x7{left:41.586667pt;}
.x6{left:206.173333pt;}
.x8{left:230.560000pt;}
.x1{left:236.600000pt;}
.x2{left:239.266667pt;}
.x4{left:272.200000pt;}
.x5{left:275.186667pt;}
.x3{left:277.413333pt;}
.x9{left:532.920000pt;}
.xa{left:645.226667pt;}
}
